@using HodladiWallet.Models
@inherits LayoutComponentBase
@inject OtherSettings OtherSettings
<PageTitle>@OtherSettings.AppName</PageTitle>

<div class="page">
    <main>
       <article class="content px-4">
            @Body
            <NavMenu/>
        </article>
    </main>
</div>