@page "/about"
@using HodladiWallet.Components.Layout

<PageTitle>About</PageTitle>

<HeaderComponent Title="About LN Wallet" />
<span class="about-text-standard">
	This wallet is made by <a href="https://x.com/hodladi" target="_blank">@@Hodladi</a>
	<br /><br/> The main purpose of this application was to have a simple UI for my self but after building it and asked around a bit about the looks and feels I decided to let it free. So when i feel 99% done i will release my git repo for other to use.
	What the application actually do is to simplify the usage of <a href="https://phoenix.acinq.co/server" target="_blank">Phoenix Server</a> with an UI.
</span>

@code {

}
